<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<th:block th:include="templatehead :: templatehead" />
</head>

<body>

<div class="card" style="height: 100vh">
<h3 class="card-header bg-success text-white text-center">検索画面</h3>
<div class="card-body">
<div class="container-fluid" id="container">

	<form class="form-horizontal" action="/" method="post" th:object="${myDataForm}">
  	
  	<div class="row">
	  	<div class="col">
			<th:block th:include="templatebody :: templateName" />
			<th:block th:include="templatebody :: templatEmail" />
			<th:block th:include="templatebody :: templateAgeFrom" />
			<th:block th:include="templatebody :: templateAgeTo" />
			<th:block th:include="templatebody :: templateMemo" />
			<th:block th:include="templatebody :: templateRoom" />
			<th:block th:include="templatebody :: templateItem" />
	  	</div>
  	</div>
		
    <div class="form-group row mb-1">
      <div class="col">
		<button class="btn btn-primary" formaction="/MyData/search">検索</button>
		<button class="btn btn-primary" formaction="/MyData/insertwindow">新規登録画面へ</button>
	  </div>
	</div>
	
    <div class="form-group row mb-0">
      <div class="col">
		<table class="table table-sm table-striped">
		  <thead>
			<tr class="table-primary">
				<th>ID</th>
				<th>名前</th>
				<th>メール</th>
				<th>年齢</th>
				<th>メモ</th>
				<th>ルーム</th>
				<th>アイテム</th>
				<th>削除</th>
				<th>更新画面へ</th>
			</tr>
		  </thead>
		  <tbody>
			<tr th:each="obj : ${datalist}" th:object="${obj}">
				<td th:text="*{id}"></td>
				<td th:text="*{name}"></td>
				<td th:text="*{mail}"></td>
				<td th:text="*{age}"></td>
				<td th:text="*{memo}"></td>
				<td><p th:text="*{room != null} ? *{room.name}"></p></td>
				<td><p th:text="*{room != null} ? *{room.item.itemName}"></p></td>
		
				<td>
					<button class="btn btn-sm btn-primary" th:formaction="@{/MyData/delete/{id}(id=*{id})}">削除</button>
		        </td>      
				<td>
					<button class="btn btn-sm btn-primary" th:formaction="@{/MyData/updatewindow/{id}(id=*{id})}">更新画面へ</button>
		        </td>      
			</tr>
		  </tbody>
		</table>
	  </div>
	</div>
	
    <div class="form-group row mb-0">
      <div class="col">
		<a class="btn btn-primary text-white" th:href="@{'/'}">戻る</a>
	  </div>
	</div>
	
	</form>
	
</div>
</div>
<th:block th:include="templatefoot :: templatefoot" />
</div>

</body>

</html>
