.custom-file-input ~ .custom-file-label::after {
  content: "参照";  // ファイル選択
}
#griddiv .ui-jqgrid-bdiv {
	min-height: 330px;  // グリッドの高さ
	max-height: 330px;  // グリッドの高さ
}
#griddiv tr, #griddiv td, #griddiv td input, #griddiv select {
	font-size: 20px;  // グリッドのフォントサイズ
}
#griddiv .ui-jqgrid button {
	font-size: 16px; padding-top: 1px; padding-bottom : 1px;
}
#griddiv .ui-jqgrid-sortable {
	height: 32px;  // グリッドのヘッダの高さ
}
#pager1 {
	height: 40px;  // グリッドのヘッダの高さ
}
#griddiv .ui-pg-input {
	height: 30px;  // ページャーのページ数の高さ
}
#griddiv .ui-pg-selbox {
	height: 30px;  // ページャーのページ数の高さ
}



    


