<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<th:block th:include="templatehead :: templatehead" />


</head>

<body>

<div class="card" style="height: 100vh">
<h3 class="card-header bg-success text-white text-center">画面ロックテスト</h3>
<div class="card-body">
<div class="container-fluid" id="container">



    <div class="row mb-1">
    	<div class="col">
			<button id="lockbtn" class="btn btn-primary text-white">画面ロックボタン</button>
		</div>
	</div>


    <div class="row mb-1">
    	<div class="col">
			<a class="btn btn-primary text-white" th:href="@{'/'}">戻る</a>
		</div>
	</div>



</div>
</div>
<th:block th:include="templatefoot :: templatefoot" />
</div>

</body>
<th:block th:include="templatehead :: scripts" />
<script src="/js/gamenlock.js"></script>
</html>
