<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<th:block th:include="templatehead :: templatehead" />
</head>

<body>
<div class="card" style="height: 100vh">
<h3 class="card-header bg-success text-white text-center">メインメニュー</h3>
<div class="card-body">
<div class="container-fluid" id="container">
  	
  	<div class="row">
	  	<div class="col">
			<div class="list-group">
			  <a th:href="@{'/MyData/list'}" class="list-group-item list-group-item-action list-group-item-primary">マスタメンテ画面</a>
			  <a th:href="@{'/Ajax/AjaxList'}" class="list-group-item list-group-item-action list-group-item-primary">Ajax</a>
			</div>


	  	</div>
  	</div>
		
	
</div>
</div>
<th:block th:include="templatefoot :: templatefoot" />
</div>

</body>

</html>
