<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<th:block th:include="templatehead :: templatehead" />
</head>

<body>
<div class="container-fluid" id="container">
	<h1>検索画面</h1>
	
	<form class="form-horizontal" action="/" method="post" th:object="${myDataForm}">

		<th:block th:include="templatebody :: templatename" />
		<th:block th:include="templatebody :: templatemail" />
		<th:block th:include="templatebody :: templateageFrom" />
		<th:block th:include="templatebody :: templateageTo" />
		<th:block th:include="templatebody :: templatememo" />
		<th:block th:include="templatebody :: templateroom" />
		<th:block th:include="templatebody :: templateroomitem" />
		
		<div class="form-group">
			<label class="col-xs-2 control-label">チェック1：</label>
			<div class="col-xs-10">
				<div class="checkbox-inline"><label><input type="checkbox" name="check1" th:field="*{check1}">チェックひとつ1</label></div>
			</div>
		</div>

       	<div class="form-group">
            <label class="col-xs-2 control-label">チェック複数：</label>
            <div class="col-xs-10">
	            <th:block th:each="item : ${checkItems}">
		            <div class="checkbox-inline">
		              <label>
		                <input type="checkbox" name="check2" th:value="${item.value}" th:text="${item.key}" th:field="*{check2}">
		              </label>
		            </div>
	            </th:block>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-xs-2 control-label">チェック直：</label>
            <div class="col-xs-10">
	            <div class="checkbox-inline"><label><input type="checkbox" name="check3" value="1" >チェック複数直1</label></div>
	            <div class="checkbox-inline"><label><input type="checkbox" name="check3" value="2" >チェック複数直2</label></div>
	            <div class="checkbox-inline"><label><input type="checkbox" name="check3" value="3" >チェック複数直3</label></div>
            </div>
        </div>
        
               
        <div class="form-group">
            <label class="col-xs-2 control-label">ラジオ：</label>
            <div class="col-xs-10">
	            <th:block th:each="item : ${radioItems}">
		            <div class="radio-inline">
		              <label>
		                <input type="radio" name="radio1" th:value="${item.value}" th:text="${item.key}" th:field="*{radio1}">
		              </label>
		            </div>
	            </th:block>
            </div>
        </div>

		<div class="form-group">
			<label class="col-xs-2 control-label" for="name">日付：</label>
			<div class="col-xs-3">
                <div class='input-group date'>
                    <input type='text' class="form-control" th:field="*{date1}"　/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
			</div>
		</div>
				
		<button class="btn btn-default" formaction="/MyData/search">検索Criteria</button>
		<button class="btn btn-default" formaction="/MyData/searchRepository">検索repository</button>
		<button class="btn btn-default" formaction="/MyData/searchJPQL">検索JPQL</button>
		<button class="btn btn-default" formaction="/MyData/searchSQL">検索SQL</button>
		<button class="btn btn-default" formaction="/MyData/insertwindow">新規登録画面へ</button>
	
	<table class="table table-striped">
	<tr>
		<th>ID</th>
		<th>名前</th>
		<th>メール</th>
		<th>年齢</th>
		<th>メモ</th>
		<th>ルーム</th>
		<th>アイテム</th>
		<th>削除</th>
		<th>更新画面へ</th>
	</tr>
	<tr th:each="obj : ${datalist}" th:object="${obj}">
		<td th:text="*{id}"></td>
		<td th:text="*{name}"></td>
		<td th:text="*{mail}"></td>
		<td th:text="*{age}"></td>
		<td th:text="*{memo}"></td>
		<td><p th:text="*{room != null} ? *{room.name}"></p></td>
		<td><p th:text="*{room != null} ? *{room.item.itemname}"></p></td>

		<td>
			<button class="btn btn-default btn-xs" th:formaction="@{/MyData/delete/{id}(id=*{id})}">削除</button>
        </td>      
		<td>
			<button class="btn btn-default btn-xs" th:formaction="@{/MyData/updatewindow/{id}(id=*{id})}">更新画面へ</button>
        </td>      
	</tr>
	</table>

	</form>
</div>
</body>

</html>
