<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<th:block th:include="templatehead :: templatehead" />
</head>

<body>
<div class="container-fluid" id="container">

	<h1 >新規登録画面</h1>
	<form class="form-horizontal" method="post" th:object="${mydata}">
		
		<th:block th:include="templatebody :: templateName" />
		<th:block th:include="templatebody :: templatEmail" />
		<th:block th:include="templatebody :: templateAge" />
		<th:block th:include="templatebody :: templateMemo" />
		<th:block th:include="templatebody :: templateRoom" />
		
		<button class="btn" formaction="/MyData/insert">新規登録</button>
		<button class="btn" formaction="/MyData/back" >戻る</button>
	</form>
	
</div>
</body>
</html>
