<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:fragment="templatehead">

		<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
		<link th:href="@{/webjars/bootstrap-datepicker/css/bootstrap-datepicker.min.css}" rel="stylesheet" />
		<link th:href="@{/webjars/jqgrid/css/ui.jqgrid.css}" rel="stylesheet" />
		<link th:href="@{/webjars/fontawesome/4.7.0/css/font-awesome.css}" rel="stylesheet" />
 		<link th:href="@{/webjars/alertifyjs/1.4.1/build/css/alertify.min.css}" rel="stylesheet" />
		<link th:href="@{/webjars/alertifyjs/1.4.1/build/css/themes/default.min.css}" rel="stylesheet" />
		<!-- fontawesomeがwebjarsを参照できない !-->
 	    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
	    <link rel="/css/stylesheet" href="common.css">

		
		<title th:text="#{content.system.name}">タイトル</title>
	</th:block>
	
	<th:block th:fragment="scripts">
    	
    	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    	<!-- <script th:src="@{/webjars/popper.js/popper.min.js}"></script> -->
    	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    	<script th:src="@{/webjars/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>
    	<script th:src="@{/webjars/bootstrap-datepicker/locales/bootstrap-datepicker.ja.min.js}"></script>
    	<script th:src="@{/webjars/jqgrid/js/minified/jquery.jqGrid.min.js}"></script>
    	<script th:src="@{/webjars/jqgrid/js/i18n/grid.locale-ja.js}"></script>
     	<script th:src="@{/webjars/alertifyjs/1.4.1/build/alertify.min.js}"></script>
    	
    	<script src="/js/common.js"></script>
	</th:block>
</head>
</html>