<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<th:block th:fragment="templateName">
		<div class="form-group row">
			<label class="col-3 col-form-label" for="name">名前：</label>
			<div class="col-9">
				<input type="text" class="form-control" th:field="*{name}" />
			</div>
		</div>
	</th:block>
	
	<th:block th:fragment="templatEmail">
		<div class="form-group row">
			<label class="col-3 col-form-label" for="mail">メール：</label>
			<div class="col-9">
				<input type="text" class="form-control" th:field="*{mail}" />
			</div>
		</div>
	</th:block>
	
	<th:block th:fragment="templateAge">
		<div class="form-group row">
			<label class="col-3 col-form-label" for="age">年齢：</label>
			<div class="col-9">
				<input type="text" class="form-control" th:field="*{age}" />
			</div>
		</div>
	</th:block>
	
	<th:block th:fragment="templateMemo">
		<div class="form-group row">
			<label class="col-3 col-form-label" for="memo">メモ：</label>
			<div class="col-9">
				<input type="text" class="form-control" th:field="*{memo}" />
			</div>
		</div>
	</th:block>

	
	<th:block th:fragment="templateRoom">
		<div class="form-group row">
			<label class="col-3 col-form-label" for="room.name">部屋：</label>
			<div class="col-9">
		        <select class="form-control" id="room" name="room">
		            <option value="">---</option>
		            <th:block th:if="*{room}==null">
		          		<option th:each="item : ${selectRooms}" th:value="${item.id}" th:text="${item.name}" >
		            </th:block>
		            <th:block th:unless="*{room}==null">
		          		<option th:each="item : ${selectRooms}" th:value="${item.id}" th:text="${item.name}" th:selected="${item.id}==*{room.id}">
		            </th:block>
		        </select>
			</div>
		</div>
	</th:block>

	<th:block th:fragment="templateRoomItem">
		<div class="form-group row">
			<label class="col-3 col-form-label" for="room.item">アイテム：</label>
			<div class="col-9">
		        <select class="form-control" id="room.item" name="room.item">
		            <option value="">---</option>
		            <th:block th:if="*{room.item}==null or *{room.item.itemName}==null">
		          		<option th:each="selectItem : ${selectItems}" th:value="${selectItem.id}" th:text="${selectItem.itemName}" >
		            </th:block>
		            <th:block th:unless="*{room.item}==null or *{room.item.itemName}==null">
		          		<option th:each="selectItem : ${selectItems}" th:value="${selectItem.id}" th:text="${selectItem.itemName}" th:selected="${selectItem.id}==*{room.item.id}">
		            </th:block>
		        </select>
			</div>
		</div>
	</th:block>
	
	<!-- 年齢（検索用） -->
	<th:block th:fragment="templateAgeFrom">
		<div class="form-group row">
			<label class="col-3 col-form-label" for="ageFrom">年齢From：</label>
			<div class="col-9">
				<input type="text" class="form-control" th:field="*{ageFrom}" />
			</div>
		</div>
	</th:block>
	
	<th:block th:fragment="templateAgeTo">
		<div class="form-group row">
			<label class="col-3 col-form-label" for="ageTo">年齢To：</label>
			<div class="col-9">
				<input type="text" class="form-control" th:field="*{ageTo}" />
			</div>
		</div>
	</th:block>
	
	<!-- アイテム（検索用） -->
	<th:block th:fragment="templateItem">
		<div class="form-group row">
			<label class="col-3 col-form-label" for="item">アイテム：</label>
			<div class="col-9">
		        <select class="form-control" id="item" name="item">
		            <option value="">---</option>
		            <th:block th:if="*{item}==null">
		          		<option th:each="selectItem : ${selectItems}" th:value="${selectItem.id}" th:text="${selectItem.itemName}" >
		            </th:block>
		            <th:block th:unless="*{item}==null">
		          		<option th:each="selectItem : ${selectItems}" th:value="${selectItem.id}" th:text="${selectItem.itemName}" th:selected="${selectItem.id}==*{item.id}">
		            </th:block>
		        </select>
			</div>
		</div>
	</th:block>
	

	<th:block th:fragment="template">
		
	</th:block>
	
	<th:block th:fragment="template">
		
	</th:block>
	
	<th:block th:fragment="template">
		
	</th:block>
	
	<th:block th:fragment="template">
		
	</th:block>
	
</body>
</html>