<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:fragment="templatehead">

		<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
		<link th:href="@{/webjars/bootstrap-datepicker/css/bootstrap-datepicker.min.css}" rel="stylesheet" />

		<!-- jqgridがwebjarsを参照できない -->
		<link href="https://cdnjs.cloudflare.com/ajax/libs/jqgrid/4.6.0/css/ui.jqgrid.css" rel="stylesheet">
		<!-- fontawesomeがwebjarsを参照できない -->
	    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
	    <link rel="/css/stylesheet" href="common.css">
    	
    	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    	<script th:src="@{/webjars/popper.js/popper.min.js}"></script>
    	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    	<script th:src="@{/webjars/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>
    	<script th:src="@{/webjars/bootstrap-datepicker/locales/bootstrap-datepicker.ja.min.js}"></script>

		<!-- jqgridがwebjarsを参照できない -->
<!--     	<script th:src="@{/webjars/jqgrid/4.6.0/js/jquery.jqGrid.js}"></script>
    	<script th:src="@{/webjars/jqgrid/4.6.0/js/i18n/grid.locale-ja.js}"></script> -->
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqgrid/4.6.0/js/jquery.jqGrid.min.js"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqgrid/4.6.0/js/i18n/grid.locale-ja.js"></script>
		
    	<script src="/js/common.js"></script>
		
		<title th:text="#{content.system.name}">タイトル</title>
	</th:block>
</head>
</html>