<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<th:block th:fragment="templateName">
		<div class="form-group row">
			<label class="col-3 col-form-label text-right" for="name">名前：</label>
			<div class="col-9">
				<input type="text" class="form-control" th:field="*{name}" />
			</div>
		</div>
	</th:block>
	
	<th:block th:fragment="templatEmail">
		<div class="form-group row">
			<label class="col-3 col-form-label text-right" for="mail">メール：</label>
			<div class="col-9">
				<input type="text" class="form-control" th:field="*{mail}" />
			</div>
		</div>
	</th:block>
	
	<th:block th:fragment="templateAge">
		<div class="form-group row">
			<label class="col-3 col-form-label text-right" for="age">年齢：</label>
			<div class="col-9">
				<input type="text" class="form-control" th:field="*{age}" />
			</div>
		</div>
	</th:block>
	
	<th:block th:fragment="templateMemo">
		<div class="form-group row">
			<label class="col-3 col-form-label text-right" for="memo">メモ：</label>
			<div class="col-9">
				<input type="text" class="form-control" th:field="*{memo}" />
			</div>
		</div>
	</th:block>

	<th:block th:fragment="templateRoom">
		<div class="form-group row">
			<label class="col-3 col-form-label text-right" for="room.name">部屋：</label>
			<div class="col-9">
		        <select class="form-control" id="room" name="room">
		            <option value="">---</option>
		            <th:block th:if="*{room}==null">
		          		<option th:each="item : ${selectRooms}" th:value="${item.id}" th:text="${item.name}" >
		            </th:block>
		            <th:block th:unless="*{room}==null">
		          		<option th:each="item : ${selectRooms}" th:value="${item.id}" th:text="${item.name}" th:selected="${item.id}==*{room.id}">
		            </th:block>
		        </select>
			</div>
		</div>
	</th:block>

	<th:block th:fragment="templateRoomItem">
		<div class="form-group row">
			<label class="col-3 col-form-label text-right" for="room.item">アイテム：</label>
			<div class="col-9">
		        <select class="form-control" id="room.item" name="room.item">
		            <option value="">---</option>
		            <th:block th:if="*{room.item}==null or *{room.item.itemName}==null">
		          		<option th:each="selectItem : ${selectItems}" th:value="${selectItem.id}" th:text="${selectItem.itemName}" >
		            </th:block>
		            <th:block th:unless="*{room.item}==null or *{room.item.itemName}==null">
		          		<option th:each="selectItem : ${selectItems}" th:value="${selectItem.id}" th:text="${selectItem.itemName}" th:selected="${selectItem.id}==*{room.item.id}">
		            </th:block>
		        </select>
			</div>
		</div>
	</th:block>
	
	<!-- 年齢（検索用） -->
	<th:block th:fragment="templateAgeFrom">
		<div class="form-group row">
			<label class="col-3 col-form-label text-right" for="ageFrom">年齢From：</label>
			<div class="col-9">
				<input type="text" class="form-control" th:field="*{ageFrom}" />
			</div>
		</div>
	</th:block>
	
	<th:block th:fragment="templateAgeTo">
		<div class="form-group row">
			<label class="col-3 col-form-label text-right" for="ageTo">年齢To：</label>
			<div class="col-9">
				<input type="text" class="form-control" th:field="*{ageTo}" />
			</div>
		</div>
	</th:block>
	
	<!-- アイテム（検索用） -->
	<th:block th:fragment="templateItem">
		<div class="form-group row">
			<label class="col-3 col-form-label text-right" for="item">アイテム：</label>
			<div class="col-9">
		        <select class="form-control" id="item" name="item">
		            <option value="">---</option>
		            <th:block th:if="*{item}==null">
		          		<option th:each="selectItem : ${selectItems}" th:value="${selectItem.id}" th:text="${selectItem.itemName}" >
		            </th:block>
		            <th:block th:unless="*{item}==null">
		          		<option th:each="selectItem : ${selectItems}" th:value="${selectItem.id}" th:text="${selectItem.itemName}" th:selected="${selectItem.id}==*{item.id}">
		            </th:block>
		        </select>
			</div>
		</div>
	</th:block>
	
	<!-- モーダル21 -->
	<th:block th:fragment="templateModal21">
	    <div class="modal" id="modal21" tabindex="-1">
	      <div class="modal-dialog">
	        <div class="modal-content">
	          <div class="modal-header">
		        <h5 class="modal-title">モーダル21のタイトル</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
		          <span aria-hidden="true">&times;</span>
		        </button>
	          </div>
	          <div class="modal-body">
	          	<p>モーダル21の内容</p>
	          </div>
	          <div class="modal-footer">
	          	<div class="col">
	        	  <button type="button" class="btn btn-primary" data-dismiss="modal">閉じる</button>
	            </div>
	            <div class="col text-right">
	              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal22">モーダル22へ</button>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	</th:block>

	<!-- モーダル22 -->
	<th:block th:fragment="templateModal22">
	    <div class="modal" id="modal22" tabindex="-1">
	      <div class="modal-dialog">
	        <div class="modal-content">
	          <div class="modal-header">
		        <h5 class="modal-title">モーダル22のタイトル</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
		          <span aria-hidden="true">&times;</span>
		        </button>
	          </div>
	          <div class="modal-body">
	            <p>モーダル22の内容</p>
	          </div>
	          <div class="modal-footer">
	          	<div class="col">
	        	  <button type="button" class="btn btn-primary" data-dismiss="modal">閉じる</button>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	</th:block>
	
	<!-- モーダル31 -->
	<th:block th:fragment="templateModal31">
	    <div class="modal" id="modal31" tabindex="-1">
	      <div class="modal-dialog">
	        <div class="modal-content">
	          <div class="modal-header">
		        <h5 class="modal-title">モーダル31のタイトル</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
		          <span aria-hidden="true">&times;</span>
		        </button>
	          </div>
	          <div class="modal-body">
	          	<p>モーダル31の内容</p>
	          	<input type="text" class="form-control" />
	          </div>
	          <div class="modal-footer">
	          	<div class="col">
	        	  <button type="button" class="btn btn-primary" data-dismiss="modal">閉じる</button>
	            </div>
	            <div class="col text-right">
	              <button type="button" class="btn btn-primary" onclick="$('.modal31Code').val('abcd')">保存</button>
	              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal32">モーダル32へ</button>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	    <script>
	      
	    </script>
	</th:block>

	<!-- モーダル32 -->
	<th:block th:fragment="templateModal32">
	    <div class="modal" id="modal32" tabindex="-1">
	      <div class="modal-dialog">
	        <div class="modal-content">
	          <div class="modal-header">
		        <h5 class="modal-title">モーダル32のタイトル</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
		          <span aria-hidden="true">&times;</span>
		        </button>
	          </div>
	          <div class="modal-body">
	            <p>モーダル32の内容</p>
	          </div>
	          <div class="modal-footer">
	          	<div class="col">
	        	  <button type="button" class="btn btn-primary" data-dismiss="modal">閉じる</button>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	</th:block>
	
	<th:block th:fragment="template">
		
	</th:block>
	
	<th:block th:fragment="template">
		
	</th:block>
	
	<th:block th:fragment="template">
		
	</th:block>
	
</body>
</html>