<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<th:block th:include="templatehead :: templatehead" />
	

<!-- jQuery Modal -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
</head>
<h3>テスト</h3>
<!-- ●●●●●●●●●●●●●●●●●●●●●●●●● -->



<!-- Modal HTML embedded directly into document -->
<div id="ex1" class="modal">
  <p>Thanks for clicking. That felt good.</p>
  <a href="#" rel="modal:close">Close</a>
</div>

<!-- Link to open the modal -->
<p><a href="#ex1" rel="modal:open">Open Modal</a></p>
	


<!-- ●●●●●●●●●●●●●●●●●●●●●●●●● -->
    <div class="form-group row mb-0">
      <div class="col">
		<a class="btn btn-primary text-white" th:href="@{'/'}">戻る</a>
	  </div>
	</div>

<th:block th:include="templatehead :: scripts" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<script src="/js/test.js"></script>
</html>
