<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<th:block th:include="templatehead :: templatehead" />
	
		    
</head>
<h3>テスト</h3>
<!-- ●●●●●●●●●●●●●●●●●●●●●●●●● -->



    <div class="form-group row">
      <div class="col" id='griddiv'>
		<table id="grid"></table>
	  </div>
	  <div id = "pager1"></div>
	</div>
	


<!-- ●●●●●●●●●●●●●●●●●●●●●●●●● -->

<th:block th:include="templatehead :: scripts" />
<script src="/js/test.js"></script>
</html>
